# Compile project ignores
/dist/
/build/
/.pyinstaller/
/packaging/artifacts/
/.tmp/
/.wix/
/.npm-cache/
/packaging/*/bin/
/packaging/*/obj/
__pycache__/
*.py[cod]
*.pdb
*.wixpdb
*.cab
.env
.env.enc
/packaging/local.env
