<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal"
     xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx">
  <?ifndef ProductDisplayName?>
    <?define ProductDisplayName = "Monitor SMS"?>
  <?endif?>
  <?ifndef BundleUpgradeCode?>
    <?define BundleUpgradeCode = "{F24697B9-AECB-4296-9821-9C3D50A23A9F}"?>
  <?endif?>
  <?ifndef EmbedNet8Runtime?>
    <?define EmbedNet8Runtime = no?>
  <?endif?>
  <Bundle
    Name="$(var.ProductDisplayName)"
    Manufacturer="CIRES A.C."
    Version="$(var.Version)"
    UpgradeCode="$(var.BundleUpgradeCode)">

    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication
        Theme="hyperlinkLicense"
        LicenseUrl=""
        SuppressOptionsUI="yes" />
    </BootstrapperApplication>

    <netfx:DotNetCoreSearch
      Id="Net8DesktopRuntimeSearch"
      RuntimeType="desktop"
      Platform="x64"
      MajorVersion="8"
      Variable="Net8DesktopRuntimeInstalled" />

    <Chain>
      <?if $(var.EmbedNet8Runtime) = yes?>
      <ExePackage
        Id="Net8DesktopRuntime"
        PerMachine="yes"
        Permanent="yes"
        Vital="yes"
        Cache="keep"
        Compressed="yes"
        InstallArguments="/install /quiet /norestart"
        DetectCondition="Net8DesktopRuntimeInstalled"
        InstallCondition="NOT Net8DesktopRuntimeInstalled"
        SourceFile="$(var.Net8RuntimeFile)" />
      <?else?>
      <ExePackage
        Id="Net8DesktopRuntime"
        PerMachine="yes"
        Permanent="yes"
        Vital="yes"
        Cache="remove"
        Compressed="no"
        InstallArguments="/install /quiet /norestart"
        DetectCondition="Net8DesktopRuntimeInstalled"
        InstallCondition="NOT Net8DesktopRuntimeInstalled"
        DownloadUrl="$(var.Net8RuntimeUrl)"
        SourceFile="$(var.Net8RuntimeFile)" />
      <?endif?>

      <MsiPackage SourceFile="$(var.MsiPath)" />
    </Chain>
  </Bundle>
</Wix>
