<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal"
     xmlns:netcore="http://wixtoolset.org/schemas/v4/wxs/netcore">
  <?ifndef EmbedNet8Runtime?>
    <?define EmbedNet8Runtime = no?>
  <?endif?>
  <Bundle
    Name="Monitor SMS"
    Manufacturer="Internal Tools"
    Version="$(var.Version)"
    UpgradeCode="{F24697B9-AECB-4296-9821-9C3D50A23A9F}">

    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication SuppressOptionsUI="yes" />
    </BootstrapperApplication>

    <netcore:DotNetCoreSearch
      Id="Net8DesktopRuntimeSearch"
      RuntimeType="desktop"
      Platform="x64"
      MajorVersion="8"
      MinorVersion="0"
      Variable="Net8DesktopRuntimeInstalled" />

    <Chain>
      <?if $(var.EmbedNet8Runtime) = yes?>
      <ExePackage
        Id="Net8DesktopRuntime"
        PerMachine="yes"
        Permanent="yes"
        Vital="yes"
        Cache="yes"
        Compressed="yes"
        InstallCommand="/install /quiet /norestart"
        DetectCondition="Net8DesktopRuntimeInstalled"
        InstallCondition="NOT Net8DesktopRuntimeInstalled"
        SourceFile="$(var.Net8RuntimeFile)" />
      <?else?>
      <ExePackage
        Id="Net8DesktopRuntime"
        PerMachine="yes"
        Permanent="yes"
        Vital="yes"
        Cache="no"
        Compressed="no"
        InstallCommand="/install /quiet /norestart"
        DetectCondition="Net8DesktopRuntimeInstalled"
        InstallCondition="NOT Net8DesktopRuntimeInstalled"
        DownloadUrl="$(var.Net8RuntimeUrl)"
        SourceFile="$(var.Net8RuntimeFile)" />
      <?endif?>

      <MsiPackage SourceFile="$(var.MsiPath)" />
    </Chain>
  </Bundle>
</Wix>
