MONITOR_R2_ENDPOINT=
MONITOR_R2_BUCKET=
MONITOR_R2_ACCESS_KEY=
MONITOR_R2_SECRET_KEY=
MONITOR_R2_REGION=
MONITOR_R2_SESSION_TOKEN=
MONITOR_R2_USE_SSL=true
MONITOR_R2_VERIFY_TLS=true
MONITOR_R2_ENABLED=true

MONITOR_B2_ENDPOINT=
MONITOR_B2_BUCKET=
MONITOR_B2_ACCESS_KEY=
MONITOR_B2_SECRET_KEY=
MONITOR_B2_REGION=
MONITOR_B2_SESSION_TOKEN=
MONITOR_B2_USE_SSL=true
MONITOR_B2_VERIFY_TLS=true
MONITOR_B2_ENABLED=false

MONITOR_UPDATE_MANIFEST_URL=
MONITOR_DEBUG_PANEL_VISIBLE=true

# Updates upload (S3 Compatibility API)
UPDATE_R2_ENDPOINT=
UPDATE_R2_BUCKET=
UPDATE_R2_ACCESS_KEY=
UPDATE_R2_SECRET_KEY=
UPDATE_R2_REGION=
UPDATE_R2_SESSION_TOKEN=
UPDATE_R2_USE_SSL=true
UPDATE_R2_VERIFY_TLS=true
UPDATE_R2_PREFIX=
