MONITOR_CHANNEL=release
MONITOR_LOCAL_DATA_SUBDIR=MonitorSMS
MONITOR_UPDATE_ARTIFACT_PREFIX=
MONITOR_PRIMARY_BASE_URL=
MONITOR_BACKUP_BASE_URL=
MONITOR_KEY_ESTACIONES=estaciones.db
MONITOR_KEY_REPORTES=reportes.db
MONITOR_UPDATE_MANIFEST_URL=
MONITOR_DEBUG_PANEL_VISIBLE=false
